.about-section {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 4%;
    padding-right: 4%;
    background: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-content > p {
    padding: 20px;
    font-size: 1.1rem;
    line-height: 1.8;
    text-align: justify;
    width: 85%;
    margin: 0 auto;
}

h2.text-center {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.ligne {
    margin-bottom: 40px;
}

.title-about {
    margin-bottom: 70px;
}

.about-img {
    width: 70%;
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    display: block;
    margin: auto;
}

/* Styles pour les écrans de taille moyenne et petite */
@media (max-width: 768px) {
    .about-img {
        width: 90%;
        max-width: 250px;
    }

    .text-content > p {
        font-size: 1rem;
        width: 100%;
        padding: 15px;
    }

    h2.text-center {
        font-size: 1.8rem;
    }

    .ligne {
        margin-bottom: 30px;
    }

    .title-about {
        margin-bottom: 50px;
    }
}
