.about-section {
    padding-top: 4rem;
    background: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
    padding-left: 4%;
    padding-right: 4%;
}

.text-content >p{
    padding: 20px;
    font-size: 1.1rem;
    line-height: 1.8;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 85%; 
}


h2.text-center {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.ligne{
    margin-bottom: 40px;
}
.title-about{
    margin-bottom: 70px;
}

.about-img {
    width: 70%;
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    display: block;
    margin: auto;
}

/* Responsive */
@media (max-width: 768px) {
    .about-img {
        width: 90%;
        max-width: 250px;
    }

    .text-content {
        text-align: center;
        max-width: 100%;
    }
}
