.app{

  justify-content: center; 
  background-color: white;
  margin: 3px auto;
  margin-top: auto;
  width:834;
  overflow: hidden;

  
}

@media screen and (max-width: 480px) {
  .App {
    padding: 0.5rem 1rem;

  }
}