.challenge>img{
    width: 350px;
}/*.challenge{

    position: relative;
    top:0;
    object-fit: contain;
   

}

.ecole_info{
    position: relative;
    left: 10px;
    top:2px;
    margin-left: auto;
    margin-right: auto;
    

}

.challenge>img{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    text-transform: inherit;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    transform: scale(1.07);
    width: 350px;
    height: 250px;
    object-fit:contain;
    background-size: 200px;
    background-image: linear-gradient( to bottom,#3d3c4d,#a18cd1,#fbc2eb);

    
}
.challenge>img:hover{
    transform: scale(1.2);
}

.challenge>h3{
    margin-top: 10px;
    font-size: 15px;
    font-family:'Segoe UI';
    width: 100%;
    text-align:center;
}*/
