.contact{
    padding-top: 4rem;
    background-color: rgb(244, 244, 244);
    padding-bottom: 2rem;
    justify-content: center !important;
}

.formulaire{
    width: 90%; /* ou toute autre largeur qui te convient */
    max-width: 800px;
    margin: auto;    
    padding: 20px;
}

.form-control {
    border-radius: 0 !important; /* Supprime les coins arrondis */
    width: 100% !important; /* Rend l'input aussi large que son conteneur */
    padding: 12px; /* Augmente l'espace intérieur pour plus de confort */
    font-size: 1rem; /* Assure une bonne lisibilité */
}

.submit{
    width: 100%; 
    border-radius: 0 !important;
    padding: 12px;
    font-size: 1rem;
}
