.ecole{
    position: relative;
    top:0;
    object-fit: contain;
    margin-right: auto;
    margin-left: auto;
}

.ecole>img{
    margin-bottom: 20px;
    text-transform: inherit;
    border-radius: 10px;
    box-shadow: 40px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 20px 6px 18x -9px rgba(0,0,0,0.75);
    transition: transform 100ms ease-in;
    transform: scale(1.07);
    width: 350px;
    height: 250px;
     
}

.ecole>img:hover{
    transform: scale(1.2);
}
.ecole>h4{
    text-transform: inherit;
    text-align:left;
    font-size:19px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;

}