.header {
    position: absolute;
    height: 90px;
    width: 100%;
    top: 0;
    margin: auto;
    right: 0 !important;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
    background-color: transparent hsl(218, 41%, 15%); 
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    height: 100%;
    padding: 0 1rem;
}

.header .nav-menu {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end; 
}

.header .nav-item {
    padding: 1rem;
    font-weight: 500;
}

.header .nav-item a {
    text-decoration: none;
    color: white;
}

.nav-item .active {
    padding-bottom: 12px;
    border-bottom: 3px solid hsl(218, 81%, 75%);
}
.header .nav-item:first-child  {
    color: inherit; 
    border-bottom: none; 
}

.header .nav-item a:hover {
    padding-bottom: 12px;
    border-bottom: 3px solid hsl(218, 81%, 75%);
}

.header .nav-item:first-child a:hover {
    color: inherit; 
    border-bottom: none;  
}

.hamburger {
    display: none;
}

.navbar .nav-item:first-child {
    margin-right: auto; /* Cela force "Tafrize." à rester à gauche */
}



@media screen and (max-width:940px) {
    .header {
        max-width: 100%;
        background-color: rgba(0,0,0,.9);
    }

    .header .navbar {
        max-width: 100%;
    }

    .hamburger {
        display: block;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 90px;
        flex-direction: column;
        background-color: rgba(0,0,0,.9);
        width: 100%;
        height: 90vh;
        z-index: 999;
        text-align: center;
        transition: .3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .header .navbar img {
        width: 150px;
    }
}






/*.header{

    position:fixed;
    top:0;
    background-color: white;
    z-index: 100;
    width:210vh;
    height: 50px;
    display:flex;
    align-items: center;
    align-content:space-between;
    color: aliceblue;
    padding:35px;
    justify-content: space-between;
    
}


.header_top{
    margin-top: 20;
    justify-content: center;
    color:rgb(106, 23, 183);
}


.header_right {
   
    
    object-fit: contain;
    align-items: center;
    align-content:space-between;
    color: white;
    background-image: linear-gradient( to top,rgb(163, 6, 242),rgb(15, 1, 21));
    background-color:rgb(75, 6, 108);
    justify-content: space-between;
    border-radius: 20px;
    border: 1px solid lightgray;
    width: 150px;
    padding:4px;
    position: relative;
    left: 30px;
    
}
*/