.background-radial-gradient {
    position: relative;
    background-color: hsl(218, 41%, 15%);
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), 
        url(../assets/home.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    min-height: 550px;
}

#radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    position: absolute;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
}

.bg-glass {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: saturate(200%) blur(25px);
}

.custom-button {
    display: inline-block !important;
    padding: 10px 20px !important;
    border: 2px solid #fff !important;
    border-radius: 5px !important;
    background-color: transparent !important;
    color: #fff !important;
    text-decoration: none !important;
    font-weight: bold !important;
    transition: background-color 0.3s ease !important;
}

@media (min-width: 1200px) {
    .background-radial-gradient {
        min-height: 80vh;
    }
}

/* Pour les tablettes et petits écrans (moins de 992px) */
@media (max-width: 992px) {
    .background-radial-gradient {
        min-height: 450px;
    }
}
