.skills{
    margin-top: 2rem;
    padding-top: 4rem;
    background-color: rgb(250, 250, 250);
   
}
/*.skills{
    height: 120vh;
    background-color: rgb(250, 250, 250);
    padding: 70px;

}
.skills>h2{
    display: relative;
}
.skills_img{
    justify-items: auto;
    padding: 150px;
    display: grid;
    width: auto;
    grid-template-columns: repeat(4,1fr);
    justify-content:space-evenly;
    height: auto;
        background-image: linear-gradient( to bottom,#9796F0,#a18cd1,#fbc2eb);
}*/
/*
    @media screen and (max-width:940px) {

    .skills{
        height: 180vh;
        background-color: rgb(250, 250, 250);
        padding: 70px;
        width: 100%;
    }
    .skills>h2{
        
        
        position: relative;
        padding: 10px;
        width: 100%;
        margin-right: 125px;
        bottom: 50px;
        left: -335px;
    }

    .skills_img{
        height: 5px;
        justify-items: auto;
        padding: 10px;
        display: grid;
        width: auto;
        grid-template-columns: repeat(2,1fr);
        justify-content:space-evenly;
        max-width: 90%;
        
        
            background-image: linear-gradient( to bottom,#9796F0,#a18cd1,#fbc2eb);
    }
    
}

    @media screen and (max-width:640px) {
        .skills{
            height: 180vh;
            width: 100%;
    }

    .skills>h2{
         
        position: relative;
        padding:10px;
        margin-right: 125px;
        bottom: 50px;
        left: -460px;
    }

    .row>img{
        margin-right: 10px!important;
        height: 1px;
        margin: 0;
        padding: 20px;
        display: grid;
        width:1%;
        grid-template-columns: repeat(2,1fr);
        column-gap:5%;
        justify-content:space-evenly;
        bottom: 0;
        grid-template-rows: 100px;
            background-image: linear-gradient( to bottom,#9796F0,#a18cd1,#fbc2eb);
    }

}
*/

.imag >img{
    display: flex;
    position: relative;
    left:0;
    width: 250px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 40px;    
}

.imag>img:hover{
    transform: scale(1.2);
}
